$green: #1e5343;
$dark-blue: #2b3b4b;
$light-blue: #4c5d6f;
$gold: #a28d62;
$gray: #535255;
$light-gray: #dbdadf;

p{
	font-family: 'Work Sans', sans-serif;
	color: $gray;
	font-size:.9em;
}

a{
	color:$gray;
}

a:hover{
	color:$green;
}

a:visited{
	color:$green;
}

a:focus{
	color:$green;
}

h3{
	color:$dark-blue;
	font-family: 'Work Sans', sans-serif;
	font-weight:bold;
}

h4{
	color:$dark-blue;
	margin-bottom:25px;
	text-decoration:underline;
	font-family: 'Work Sans', sans-serif;
	font-weight:bold;
}

.emph{
	color:$light-gray;
}

.subhead{
	text-transform:uppercase;
	color:$light-blue;
	margin-bottom:0em;
	margin-top:10px;
	font-weight:bold;
}

.header{
	background-color:$light-blue;
	height:100px;
}

.header p{
	color: $gold;
	margin-top: 28px;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight:bold;
}

.full-photo{
	background: url(../images/new-york-city-engagement-9.jpg) no-repeat center center fixed; 
	height:70vh;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


.full-photo p{
	font-size: 2em;
	color: white;
	text-align: center;
	position: relative;
	margin-top:30vh;
	font-family: 'Work Sans', sans-serif;
	font-weight:bold;
}

.narrow{
	max-width:965px;
}

.intro{
	margin:auto;
	margin-bottom: 20px;
	font-size:0.9em;
}

.photo-frame-rect {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
}
.photo-frame-rect img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.ornament{
	width:60px;
	margin-top:15px;
}

.add-space{
	margin-top:35px;
}

#map {
    max-width: 1200px;
    height: 500px;
    margin: auto;
}

.centered p{
	text-align: center;
}

.registry{
	display: block;
    max-width: 320px;
    border: solid 2px $dark-blue;
    margin: 0 auto;
    margin-bottom:15px;
    color:$green;
    line-height: 44px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.registry:hover{
	border: none;
    color:white;
    background-color:$light-blue;
}

.footer{
	color:$green;
	font-weight:bold;
	text-align:center;
	margin-top:40px;
}

.mobile-only{
	display: none;
}

.desktop-only{
	display:block;
}

@media (max-device-width: 1024px) {
  	.mobile-only{
		display: block;
	}
	.desktop-only{
	display:none;
}

}


